@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Eczar:wght@600;700;800&family=JetBrains+Mono:ital,wght@0,300;0,400;1,300&family=Libre+Baskerville:wght@700&family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

body{
    font-size: 100%;
    background-color:#F1F1F1;
}

.cabecalho{
    padding: 8px;
    
}
.cabecalho-titulo{
    margin-top: 5px;
    font-family: 'Eczar', serif;
    font-size: 50px;
    text-align: center;
    font-weight: 700  ;
    color: black;
}



.conteudo-adicionar{
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    padding: 20px;
    background-color: white;
    width: 50%;

    border: 0.8px solid black;
}

.conteudo-adicionar-etiqueta{
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    font-weight: 400;
    font-size: 22px;
    margin-right: 10px;
    border: none;
    color: black;
    
}

.conteudo-adicionar-input{
    width: 70%;
    height: 45px;
    background-color: white;
    text-align: center;
}

.conteudo-adicionar-input:hover{
    background-color: black;
    color: white;
    transition: 0.3s;
    
}

.conteudo-adicionar-botao{
    border: none;
    margin-left: 18px;
}

.conteudo-adicionar-botao img{
    width: 45px;
    background-color: white;

   
}

.conteudo-tarefas{
    background-color: white;
    width: 50%;
    height: 54vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 0.8px solid black;
    margin-top: 20px;
    padding: 25px;
    overflow: scroll;
}

.conteudo-tarefas-subtitulo{
    font-size: 30px;
    color: black;
    font-weight: bold;
    background-color: white;
    font-family: 'Libre Baskerville', serif;
    
    
    
}

.conteudo-tarefas-tabela{
    margin-top: 5px;
    border: none;
    border-collapse: separate  ;
    border-spacing: 10px 15px;
    background-color: white;
    
}



.conteudo-tarefas-tabela-coluna1{
    min-width: 20px;
    border: none;
    
    
}

.conteudo-tarefas-tabela-coluna2{
    min-width: 380px;
    border: 1px solid black;
    
    
}

.conteudo-tarefas-tabela-coluna2:hover{
    background-color: black;
    color: white    ;
    transition-duration: 0.4s;
}
.conteudo-tarefas-tabela-coluna3{
    min-width: 10px;
    border: none;
    
}

tr{
    height: 5px;
}


.excluir{
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    
}


    

.conteudo-tarefas img{
    width: 20px;
    background-color: white;
}



.rodape{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.rodape-ancora{
    text-align: center ;
    margin-top: 25px;
    text-decoration: none;
    
}

.rodape-ancora-img{
    width: 40px;
}

.rodape-ancora-texto{
    color: black;
    font-size: 12px;
    margin-top: 5px;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 300;
    display: none;
}


.tachado{
    text-decoration: line-through;
    
}
